
.App-header {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

section {
  padding: 0px;
  margin: 20px;
  width: 100%;
}

.App-header {
  background-color: #FFFFEC;
  color: #1F1A12;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1{
  font-family: "Fraunces", serif;
  font-size: 45px;
}

/* Header */
header {
  display: flex;
  align-items: left;
  margin-left: 10px;
  margin-right: 10px;
}

#header{
  background-color: #EFEEDD;
  margin: 0px;
  align-items: left;
}

#logo {
  height: 100px;
  max-width:100%;
}


.nav-bar ul {
  font-weight: 350;
  font-size: 0.9em;
  list-style-type: none;
  display: flex;
  gap: 1.8em;
  padding: 20px;
}

.nav-bar a {
  font-family: "Fraunces", serif;
  color: #1F1A12;
  text-decoration: none;
  display: inline-block;
  width: 90px;
}
.nav-bar #longer-nav{
  width: 100px;
}

.nav-bar a:hover {
  font-weight: 400;
}

/* Home */
text{
  font-family: "Yeseva One", serif;
  fill: #095D40;
  /* font-size: 38px; */
  font-size: 1.4em;
  font-weight: normal;
  padding-top: 0px;
}
#portrait {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  object-fit: cover;
  transform: scale(1.75);
}
#home p{
  padding-top: 60px;
}

button{
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  background-color: #095D40;
  border: none;
  color: #FFA857;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

button:hover{
  background-color: #074D35;
}
/* About */
.about-me{
  font-size: 3em;
  color: #034AB4;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

#move-left{
  padding-right: 100px;
}
#move-right{
  padding-left: 100px;
}
.me{
  padding-left: 200px;
  padding-right: 200px;
}

/* Projects */
.project-container{
  display: flex;
  gap: 40px;
  justify-content: center;
  /* margin: 20px; */
}
.project-card{
  background-color: #F3F7E4;
  border-radius: 50px;
  width: 280px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
}
.card-img{
  height: auto;
  max-width: 100%;
  width: auto;
}


h3{
  font-family: 'Yeseva One', sans-serif;
  font-weight: 300;
  margin-top: 15px;
}
a{
  text-decoration: none;
  color:#1F1A12;
}

.description{
  font-size: 0.8em;
  font-weight: 380;
}

/* Contact */
#contact{
  background-color: #EFEEDD;
  border-radius: 50px;
  padding-bottom: 100px;
}

#contact-me{
  color:#095D40;
}
#face{
  height: 400px;
  width: 400px;
}
.icon{
  color: #FFA857;

}

.icon:hover{
  color: #FDB777;
}


/* Footer */
.end-notes{
  color:#95A29D;
}