
.App-header {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background-color: #FFFFEC;
  min-height: 100vh; 
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}


/* Projects */
.project-container{
  display: flex;
  gap: 40px;
  justify-content: center;
  /* margin: 20px; */
}
.project-card{
  background-color: #F3F7E4;
  border-radius: 50px;
  width: 280px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
}
.card-img{
  height: auto;
  max-width: 100%;
  width: auto;
}

.description{
  font-size: 0.8em;
  font-weight: 380;
}

/* Contact */
#contact{
  background-color: #EFEEDD;
  border-radius: 50px;
  padding-bottom: 100px;
}

#contact-me{
  color:#095D40;
}
#face{
  height: 400px;
  width: 400px;
}
.icon{
  color: #FFA857;

}

.icon:hover{
  color: #FDB777;
}


/* Footer */
.end-notes{
  color:#95A29D;
}